
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]--> 
  
  <div id="main" role="main">
    <section id="left">

      <div class="photo-main">
        <div class="profile-picture"></div>
      </div>
      
     <nav class="left-nav">
      <ul>
        <li><p><i class="icon-asterisk "></i>
          <a href="#html5">HTML5</a></p></li>
        <li><p><i class="icon-bolt"></i>
          <a href="#css">CSS & Friends</a></p></li>
        <li><p><i class="icon-magic"></i>
          <a href="#javascript">Javascript</a>
        <li><p><i class="icon-refresh "></i>
          <a href="#ajax">Ajax</a></p></li>
        <li><p><i class="icon-wrench "></i>
          <a href="#cross">Cross Browser Debugging</a></Debugging></p></li>
        <li><p><i class="icon-beaker"></i>
          <a href="#ruby">Ruby on Rails</a></p></li>
        <li><p><i class="icon-github"></i>
          <a href="#github">Github</a></p></li>
        <li><p><i class="icon-fire "></i>
          <a href="#agile">Agile</a>
          </p></li>
      </ul>
    </nav>
    </section><!-- /left -->
    
    <section id="right">
      
      <div class="skill-level">
        <div class="skill-level-content">
          <p class="bold">
            I translate your designs into beautiful, fully-functional modern websites.
          </p>
          <p>Check out my skill-set here:</p>
          <ul>
            <li>HTML5
              <div id="progressbar">
                <div></div>
              </div>  
            </li>  

            <li>CSS3 & Friends</li>
            <li>Haml</li>
            <li>Sass</li>
            <li>Javascript</li>
            <li>Jquery</li>
            <li>Cross Browser Debugging</li>
            <li>Ruby on Rails</li>
            <li>Git</li>
            <li>Ajax</li>
            <li>Salesforce</li>
            <li>Basecamp</li>
          </ul>
          <ul>
            <li>Excellent Team player</li>
            <li>Detail Oriented</li>
            <li>Versatile Problem Solver</li>
            <li>Solid Work Ethic</li>
            <li>Positive Energy</li>
            <li>Frim understnading of business concepts</li>
          </ul>

          <progress value="50" max="100">75%</progress>
        </div>
      </div>
      
      <div class='skills'> 

        <div class="sub-skills" id="html5">
          <header>
            <p class="right"><i class="icon-asterisk "></i>HTML5</li>
            </p>
          </header>
          <p>
            I am experiened in writing semantic HTML5 and I am familiar with using the latest html5 tags, including: <br/>
            <br/>
            &lt;section&gt; &lt;header&gt; &lt;nav&gt; &lt;footer&gt; &lt;hgroup&gt;, etc. <br/>
            <br/>
            For example, here is a source code exerpt from my resume: 
            <br/>
              &lt;section id=&quot;left&gt; <br/>
                <blockquote> &lt;nav class=&quot;left-nav&gt; <br/>
                  <blockquote> &lt;ul&gt;<br/>   &lt;/ul&gt;<br/>
                  </blockquote>
                &lt;/nav&gt;<br/>
                </blockquote>
              &lt;/section&gt;
          </p>
        </div>
     
              
        <div class="sub-skills" id="css">
          <header>
            <p class="right"><i class="icon-bolt"></i>CSS3 & Friends</p>
          </header>
          <p></p>
          <ul>Experienced with:
            <li>rounded corners using border-radius</li>
            <li>box model</li>
            <li>fonts including google fonts</li>
            <li>CSS3 transitions</li>
            <li>CSS Frameworks including Twitter Bootstrap</li>
          </ul>
        </div>
        
        <div class="sub-skills" id="javascript">
          <header>
            <p class="right"><i class="icon-bolt"></i>Javascript</p>
          </header>
          <p>The syntax highlighting and interactivity were done in javascript. More to come</p>
        </div>
          
        <div class="sub-skills" id="ajax">
          <header>
            <p class="right"><i class="icon-refresh"></i>Ajax</p>
          </header>
          <p>Ajax stuff </p>
        </div>  
        
        <div class="sub-skills" id="cross">
          <header>
            <p class="right"><i class="icon-wrench"></i>Cross Browser Debugging</p>
          </header>
          <p>Cross Browser Debugging Stuff</p>
        </div>    
    
        <div class="sub-skills" id="ruby">
          <header>
            <p class="right"><i class="icon-beaker"></i>Ruby on Rails</p>
          </header>
          <p>Ruby on Rails Stuff</p>
        </div> 
                       
        <div class="sub-skills" id="github">
          <header>
            <p class="right"><i class="icon-github"></i>Github</p>
          </header>
          <p>I am experienced in Version Control, find me on 
            <a href="https://github.com/Lin4ipsum">Github.</a></p>
        </div>

        <div class="sub-skills" id="agile">>
          <header>
            <p class="right"><i class="icon-fire"></i>Agile Methodologies</p>
          </header>
          <p>Agile Stuff</p>
        </div>
        
        <div class="sub-skills">
          <header><p><i class="icon-star "></i>Education</p></header>
          <p>
            2012 - Code School: JqueryAir, CSS CrossCountry<br/>
            2012 - Ruby on Rails Course, with Avi Flomabum, founder: Flatiron School<br/>
            2011 - Code School: Rails for Zombies <br/> 
            2012  - Stanford University - Computer Science 101 via Coursera<br/>
            2007 - 2008 FINRA Series 7 + Series 66 licenses<br/>
            2007  - New York University - Economics, NYU Scholar<br/>
          </p>
      </div>
      
    </section>
    <!-- / right -->

  </div>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
