footer {
  background: none;
  clear: both;
  width: 100%;
}

.footer-container {
  background: none;
  height: 150px;
  margin: 0 auto;
  width: 960px;
}

nav {
  position: relative;
}

footer ul {
  line-height: 22px;
  margin-left: 20px;
  width: 40%;
}

footer ul li {
  color: #666666;
  list-style: none;
}
