footer {
  background: #fff;
  background-image: url('/assets/rainbowborder.gif');
  background-repeat: repeat-x;
  clear: both;
  width: 100%;
}

.footer-container {
  background: #fff;
  height: 150px;
  margin: 0 auto;
  width: 960px;
}

.rainbow {
  background-image: url('/assets/rainbowborder.gif');
  background-repeat: no-repeat;
  height: 5px;
  margin: 0 auto;
  width: auto;
}

nav {
  position: relative;
}

footer ul {
  line-height: 22px;
  margin-left: 20px;
  width: 40%;
}

footer ul li {
  color: #666666;
  list-style: none;
}

.like-us {
  background-image:url('/assets/likeus.jpg');
  background-repeat: no-repeat;
  background-position:center;
  bottom: 70%;
  height: 40px;
  left: 70%;
  position: absolute;
  right: 30%;
  width: 225px;
}