// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background: rgb(245, 244, 232);
  -moz-box-shadow:inset 0px 2px 75px rgb(65, 134, 155);
  -webkit-box-shadow: inset 0px 2px 275px rgb(65, 134, 155);
  box-shadow:inset 0px 2px 75px rgb(65, 134, 155);
}

body {
  color: rgb(69, 95, 120);
	font-family: arial;
	font-size:100%;
	width: 100%; }
	
#main {
	padding-top: 25px;
	position: relative; 
	margin: 0 auto;
  width: 960px;}	
	
#left {
	float: left;
	margin-left: 50px;
	margin-right: 30px;
	width: 30%; }

.photo-main {
  background: transparent;
}

.photo-main .profile-picture {
  background-image:url(/assets/linda2.jpg);
  background-repeat:no-repeat;
  background-position: 0% 34%;
  border-radius: 100%;
  border: 6px solid rgb(214, 141, 47);
  -webkit-box-shadow: 0px -3px 12px rgba(46, 88, 77, 0.33);
  -moz-box-shadow:    0px -3px 12px rgba(46, 88, 77, 0.33);
  box-shadow:         0px -3px 12px rgba(46, 88, 77, 0.33);
  height:200px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
 
progress {
 	display:block;
	margin:0 auto 15px;
	width:100%;
} 

.left-nav {
  background: #e5e9f2;
  border-radius: 15px;
  border: 1px solid #999;
  line-height: .8em;
  margin: 0; 
  padding-left:0;}

.left-nav ul {
  padding: 0;
}
	
.left-nav li i { 
 font-size: 150%;
 margin-right:10px;
}

.left-nav li {
 border-top:1px solid #999;
 list-style:none;
}

.left-nav li a {
  color: rgb(69, 95, 120);
  text-decoration:none;}

.left-nav li a:hover {
  color: rgb(214, 141, 47);}

.left-nav li:first-child {
  border-top: none;
}

.left-nav li p {
  font-size: 100%;
  margin-left: 10px;
}

// end left
 
#right {
	float: left;
	display: block;
	width: 60%;}

.skill-level {
  background: rgb(220, 240, 217);
  border: 1px solid #39854C;
  -webkit-box-shadow: 0px -3px 12px rgba(46, 88, 77, 0.33);
  -moz-box-shadow:    0px -3px 12px rgba(46, 88, 77, 0.33);
  box-shadow:         0px -3px 12px rgba(46, 88, 77, 0.33);
  border-radius: 15px;
  height: auto;
  margin-bottom: 25px;
}

.skill-level-content {
  color: rgb(57, 133, 76);
  margin: 20px 20px 0 20px;
}

.skill-level-content ul {
  padding-left: 20px;
}

.skill-level-content ul li {
  list-style: none;
  padding-bottom: 5px;
}

.bold {
  font-size: 1.1em;
  margin: 0;
}

#progressbar {
  background-color: red;
  border-radius: 12px; /* (height of inner div) / 2 + padding */
  padding: 2px;
  width:150px;
            
}

#progressbar div {
   background-color: green;
   width: 40%; /* Adjust with JavaScript */
   height: 20px;
   border-radius: 10px;
}


.skills header {
  color: rgb(69, 95, 120);
  background: #e5e9f2;
  border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom: 1px solid #999;
	height: 50px;
}

.skills {
  color: rgb(69, 95, 120);
}

.sub-skills {
  background: #fff;
  border: 1px solid #999;
  border-radius: 15px;
  -webkit-box-shadow: 0px -3px 12px rgba(46, 88, 77, 0.33);
  -moz-box-shadow:    0px -3px 12px rgba(46, 88, 77, 0.33);
  box-shadow:         0px -3px 12px rgba(46, 88, 77, 0.33);
  margin-bottom: 25px;
  padding-bottom: 10px;
}

blockquote {
  margin-top:0;
  margin-bottom:0;
}

.html5 p {
  margin-bottom: 0;
}

.skills header {
  background: #e5e9f2;
  border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom: 1px solid #999;
	height: 50px;
}

.skills header p {
  display: inline;
  font-size: 1.1em;
  line-height: 50px;
  margin-left: 17px;
}

.skills p {
  margin-top: 20px; 
  margin-left: 20px;
}

header i {
  font-size: 150%;
  margin-right: 10px;
}

.right {
  margin-right: 5px;
}

.css3 p, .github p {
  font-size: 1.1em;
  margin-top: 20px;
  margin-left: 20px;
}
