<footer>
  <div class="footer-container">
  <div class="rainbow"></div>
    <nav>
      <ul>
          <li>help</li>
          <li>about</li>
          <li>blog</li>
          <li>contact us</li>
          <li>privacy page</li>
      </ul>
      <div class="like-us"></div>
    </nav>
  </div>
</footer>