<header>
  <div class="header-container">
    <div class="logo">
      <p class="company-name">FriendScore</p>
      <%= link_to( image_tag("logofs.jpg", alt: "logo"), root_path) %>
      
    </div>
    
  </div>
</header>